@using BusinessEntities.RequestDto
@model UserRequest
@using (Html.BeginForm("Save", "User", FormMethod.Post, new { @id = "frmCreate" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="card" id="divCreate">
        <div class="card-header">
            Create User
        </div>
        <div class="card-body" id="divCreate">
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="exampleFormControlInput1" class="form-label">FirstName</label>
                    @Html.TextBoxFor(model => model.FirstName, new {maxlength=50, @Class = "form-control" })
                </div>
                <div class="mb-3 col-md-4">
                    <label for="exampleFormControlInput1" class="form-label">LastName</label>
                    @Html.TextBoxFor(model => model.LastName, new {maxlength=50, @Class = "form-control" })
                </div>
                <div class="mb-3 col-md-4">
                    <label for="exampleFormControlInput1" class="form-label">Mobile Number</label>
                    @Html.TextBoxFor(model => model.MobileNo, new {maxlength=10, @Class = "form-control numberonly" })
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="exampleFormControlInput1" class="form-label">Address</label>
                    @Html.TextBoxFor(model => model.Address, new {maxlength=100, @Class = "form-control" })
                </div>
                <div class="mb-3 col-md-4">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    @Html.TextBoxFor(model => model.Email, new {maxlength=100, @Class = "form-control" })
                </div>
                <div class="mb-3 col-md-4">
                    <label for="exampleFormControlInput1" class="form-label">Username</label>
                    @Html.TextBoxFor(model => model.Username, new {maxlength=20, @Class = "form-control" })
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-success btn-sm me-md-2">Save</button>
                <button type="button" onclick="OnCancel()" class="btn btn-sm btn-danger">Cancel</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        OnCreateEditPageLoad();
    })
</script>