@using BusinessEntities.ResponseDto
@model PackageRateResponse
@using (Html.BeginForm("Update", "RequestLabour", FormMethod.Post, new { @id = "frmEdit" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="card" id="divEdit">
        <div class="card-header">
            Edit Package Rate
        </div>
        <div class="card-body">
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="exampleFormControlInput1" class="form-label">Package Name</label>
                    @Html.DropDownListFor(model=>model.PackageId,new List<SelectListItem>(),new {@Class="form-select select2"})
                </div>
                <div class="mb-3 col-md-4">
                    <label for="exampleFormControlInput1" class="form-label">Sub Package Name</label>
                    @Html.DropDownListFor(model=>model.SubPackageId,new List<SelectListItem>(),new {@Class="form-select select2"})
                </div>
                    <div class="mb-3 col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">AMC Period</label>
                    @Html.DropDownListFor(model=>model.AMCPeriod,new List<SelectListItem>{new SelectListItem{ Text="Select", Value = "" },
                 new SelectListItem{ Text="Daily", Value = "Daily" },
                    new SelectListItem{ Text="Monthly", Value = "Monthly" },
                new SelectListItem{ Text="Quarterly", Value = "Quarterly" },
                new SelectListItem{ Text="Half Yearly", Value = "Half Yearly" },
                new SelectListItem{ Text="Yearly", Value = "Yearly" }
                },new {@Class="form-select select2"})
                    </div>
               
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="exampleFormControlInput1" class="form-label">Rate</label>
                    @Html.TextBoxFor(model => model.Rate, new { @Class = "form-control" })
                </div>
                <div class="mb-3 col-md-4">
                    <label for="exampleFormControlInput1" class="form-label">Discount</label>
                    @Html.TextBoxFor(model => model.Discount, new { @Class = "form-control" })
                </div>
                <div class="mb-3 col-md-4">
                    <label for="exampleFormControlInput1" class="form-label">Package Amount</label>
                    @Html.TextBoxFor(model => model.PackageAmount, new { @Class = "form-control" })
                </div>
            </div>
            <div class="row">
                     <div class="mb-3 col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">Service Name</label>
                    @Html.DropDownListFor(model=>model.ServiceId,new List<SelectListItem>(),new {@Class="form-select select2"})
                    </div>
             
                <div class="mb-3 col-md-8 d-none">
                    <label for="exampleFormControlInput1" class="form-label">Terms & Condition</label>
                    @Html.TextAreaFor(model=>model.TermsAndCondition,new { @Class = "form-control" })
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-success btn-sm me-md-2">Save</button>
                <button type="button" onclick="OnCancel()" class="btn btn-sm btn-danger">Cancel</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var packageId = '@Model.PackageId';
    var subPackageId = '@Model.SubPackageId';
    var serviceId = '@Model.ServiceId';
    $(document).ready(function () {
        OnCreateEditPageLoad();
    })
</script>