@using BusinessEntities.ResponseDto
@model UserResponse;
<style>
    .banner-area.home-one-banner {
        padding: 0px 0 119px;
        background-color: var(--main-color-grey) !important;
    }

        .banner-area.home-one-banner::after {
            background-color: white;
        }

    .navbar-nav a {
        color: var(--heading-color)
    }

    @@media only screen and (max-width: 991px) {
        .navbar-nav a {
            color: #fff !important;
        }
    }
</style>

<div class="banner-area home-one-banner">
</div>

<!-- Banner Inner area Starts -->
<div class="banner-inner-area section-bg-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-inner-contents">
                    <h2 class="banner-inner-title">My Profile</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="About-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 margin-top-50">
                @using (Html.BeginForm("Update", "User", FormMethod.Post, new { @id = "frmEdit" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <div class="row">

                        <div class="single-dashboard-input col-lg-4">
                            <div class="single-info-input margin-top-30">
                                <label class="info-title"> FirstName<span class="Required">*</span></label>
                                @Html.TextBoxFor(model => model.FirstName, new {maxlength=50, @Class = "form--control" })
                            </div>
                        </div>
                        <div class="single-dashboard-input col-lg-4">
                            <div class="single-info-input margin-top-30">
                                <label class="info-title"> LastName<span class="Required">*</span></label>
                                @Html.TextBoxFor(model => model.LastName, new {maxlength=50, @Class = "form--control" })
                            </div>
                        </div>
                        <div class="single-dashboard-input col-lg-4">
                            <div class="single-info-input margin-top-30">
                                <label class="info-title"> Mobile Number<span class="Required">*</span></label>
                                @Html.TextBoxFor(model => model.MobileNo, new {maxlength=10, @Class = "form--control numberonly" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="single-dashboard-input col-lg-4">
                            <div class="single-info-input margin-top-30">
                                <label class="info-title"> Address<span class="Required">*</span></label>
                                @Html.TextBoxFor(model => model.Address, new {maxlength=100, @Class = "form--control" })
                            </div>
                        </div>
                        <div class="single-dashboard-input col-lg-4">
                            <div class="single-info-input margin-top-30">
                                <label class="info-title"> Email<span class="Required">*</span></label>
                                @Html.TextBoxFor(model => model.Email, new {maxlength=100, @Class = "form--control" })
                            </div>
                        </div>
                        <div class="single-dashboard-input col-lg-4">
                            <div class="single-info-input margin-top-30">
                                <label class="info-title"> Username<span class="Required">*</span></label>
                                @Html.TextBoxFor(model => model.Username, new {maxlength=10, @Class = "form--control" })
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrapper margin-top-40">
                        <button type="submit" class="cmn-btn btn-bg-1">Update</button>
                    </div>
                }
            </div>
        </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            OnCreateEditPageLoad();
        })
    </script>
</section>

