@using BusinessEntities.ResponseDto
@model SubPackagePriceDetailsResponse
@{

    var servicePrice = Model.SubPackageServicePrices;

}
<header class="header-style-01">
    <!-- Menu area Starts -->
    <nav class="navbar navbar-area navbar-two navbar-expand-lg section-bg-2">
        <div class="container container-two nav-container">
            <div class="responsive-mobile-menu">
                <div class="logo-wrapper">
                    <a asp-controller="Home" asp-action="Index" class="logo">
                        @*<img src="~/img/FMS-LOGO-1.png" class="img-fluid" />*@
                        <img src="bannerImage/@ViewBag.Logo" alt="Logo" class="img-fluid" />
                    </a>
                </div>
                <a href="#0" class="click_show_icon">
                    <i class="las la-ellipsis-v"></i>
                </a>
                <button class="navbar-toggler black-color" type="button" data-toggle="collapse" data-target="#bizcoxx_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bizcoxx_main_menu">
                <ul class="navbar-nav">
                    <li>  <a href="home">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">About</a></li>
                    <li><a asp-area="" asp-controller="Service" asp-action="Index">Service List</a></li>
                    <li><a asp-area="" asp-controller="Contact" asp-action="Index">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Menu area end -->
</header>
<div class="overlays"></div>
<section class="location-overview-area padding-top-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form id="msform" class="msform">
                    <fieldset class="padding-top-20 padding-bottom-100">
                        <div class="row">
                            <div class="col-lg-8 margin-top-30">
                                <div class="service-overview-wrapper padding-bottom-30">
                                    <div class="overview-author overview-author-border">
                                        <div class="overview-flex-author">
                                            <div class="overview-thumb">
                                                <img src="assets/img/service/overview2.jpg" alt="">
                                            </div>
                                            <div class="overview-contents">
                                                <h4 class="overview-title"> <a href="javascript:void(0)">Individual Package</a> </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overview-single padding-top-40">
                                        <h4 class="title"> AMC Period for @Model.SubPackages.Name Package </h4>
                                        <div class="include-contents margin-top-30">
                                            @Html.DropDownList("AMCPeriod",new List<SelectListItem>{
                                            new SelectListItem{ Text="Daily", Value = "Daily" },
                                            new SelectListItem{ Text="Monthly", Value = "Monthly" },
                                            new SelectListItem{ Text="Quarterly", Value = "Quarterly" ,Selected=true  },
                                            new SelectListItem{ Text="Half Yearly", Value = "Half Yearly" },
                                            new SelectListItem{ Text="Yearly", Value = "Yearly"}
                                            },new {@Class="form-select select2"})
                                        </div>
                                    </div>
                                    <div class="overview-single padding-top-60">
                                        <h4 class="title margin-top-30"> Choose services you need </h4>
                                        <div class="row">

                                            @if (servicePrice != null && servicePrice.Any())
                                            {
                                                foreach (var item in servicePrice)
                                                {
                                                    <div class="col-lg-6 margin-top-30">
                                                        <div class="overview-extra style-02">
                                                            <div id="div_@item.ServiceId" class="overview-extra-service">
                                                                <div class="checkbox-inlines">
                                                                    <input id="hdnServiceId" type="hidden" value="@item.ServiceId" />
                                                                    <input class="check-input" type="checkbox" id="check4">
                                                                    <label class="checkbox-label" for="check4">@item.ServiceName </label>
                                                                </div>
                                                                <div class="overview-extra-flex-content">
                                                                    <span class="price-value">₹<label id="lblRate">@item.PackageAmount</label></span>
                                                                    <div class="list-single">
                                                                        <span class="values">Discount: <label id="lblDiscount">@item.Discount</label></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="overview-extra-thumb">
                                                                <img src="assets/img/service/extra1.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>

                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="overview-single padding-top-60">
                                        <h4 class="title"> Apply Coupon to get more discount </h4>
                                        <div class="include-contents margin-top-30">
                                            <div class="single-include">
                                                <ul class="include-list">
                                                    <li class="lists">
                                                        <div class="list-single">
                                                            <span class="rooms">Enter coupon</span>
                                                        </div>
                                                        <div class="list-single">
                                                            @Html.TextBox("Rate",null, new { @Class = "form-control" })
                                                        </div>
                                                    </li>
                                                    <li class="lists"> <a class="remove" href="javascript:void(0)">Apply</a> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="overview-single padding-top-60">
                                        <h4 class="title"> Terms & Conditions: </h4>
                                        <ul class="overview-benefits margin-top-30">
                                            <li class="list"> @Model.SubPackages.TermsAndCondition</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 margin-top-30">
                                <div class="service-overview-summery">
                                    <h4 class="title"> Booking Summery </h4>
                                    <div class="overview-summery-contents">
                                        <div class="single-summery">
                                            <span class="summery-title">Services </span>
                                            <div class="summery-list-all">
                                                <ul id="ulItem" class="summery-list">
                                                </ul>
                                                <ul class="summery-result-list result-border padding-bottom-20">
                                                    <li class="result-list">
                                                        <span class="rooms"> Subtotal</span>
                                                        <span class="value-count">$165</span>
                                                    </li>
                                                </ul>
                                                <ul class="summery-result-list result-border padding-bottom-20">
                                                    <li class="result-list">
                                                        <span class="rooms"> Tax(+)15%</span>
                                                        <span class="value-count">$25</span>
                                                    </li>
                                                </ul>
                                                <ul class="summery-result-list">
                                                    <li class="result-list">
                                                        <span class="rooms"> <strong>Total</strong></span>
                                                        <span class="value-count">$140</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn-wrapper">
                                            <a href="javascript:void(0)" class="cmn-btn btn-appoinment btn-bg-1"> Continue </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="~/js/PackageRate.js" asp-append-version="true"></script>
<script type="text/javascript">
    var subPackageId = '@Model.SubPackages.Id';
    $(document).ready(function () {
        OnPackageRateChange();OnServiceChecked();
    })
</script>